<h2 class="panel-title heading-sm pull-left color-dark">
	<i class="fa fa-bars"></i> <%= raw "#{@obj.name} #{@obj.status_badge if @obj.class.attribute_method?("status_badge")}" %>
</h2>
<div class='pull-right'>
	<%= btn_group(eval("#{@obj.class.to_s.tableize}_btn(@obj)"),false) if BtnArrayHelper.method_defined? "#{@obj.class.to_s.tableize}_btn" %>
</div>
