<p>根据《中华人民共和国著作权法》、《全国人大常委会关于维护互联网安全的决定》、《互联网信息服务管理工作办法》、《互联网电子公告服务管理规定》等有关法律、法规，制订以下条款 ：</p>
<h4>1．服务网服务条款的确认和接纳</h4>
<p>　　服务网（以下简称“服务网”）的所有权、运作权和解释权等归中国储备粮管理总公司（以下简称“总公司”）唯一所有。供应商指使用本网的单位和个人。供应商通过电脑进入服务网，必须完全、严格遵守本网站相关条款，包括本注册条款。供应商通过点击服务条款中的“我同意”按钮，并且完成服务网供应商注册程序，表示供应商与服务网的管理单位总公司达成使用服务网协议，接受服务网注册供应商服务条款全部内容。供应商通过点击网站其它相关位置上的“我同意”按钮，亦表示完全接受了该按钮相关文件中的全部内容。</p>
<h4>2．有关供应商资料</h4>
<p>    供应商同意：</p>
<p>    （1）根据“服务网”注册资料要求，提供关于注册人的真实、准确、完整和反映当前情况的单位和（或）个人资料。</p>
<p>    （2）维持并及时更新资料，使其保持真实、准确、完整和反映当前单位和（或）个人资料的情况。倘若注册人提供的关于单位和（或）个人资料不真实、不准确、不完整或不能反映当前情况的资料，或“服务网”有合理理由怀疑该等资料不真实、不准确、不完整或不能反映当前情况，“服务网”有权暂停或终止注册，并拒绝注册人在目前或将来对“服务”(或其任何部份) 以任何形式使用。</p>
<h4>3．服务条款的修改</h4>
<p>　　总公司有权随时在必要时修改服务网的服务条款，并且不会提前以任何形式向包括供应商在内的任何单位和（或）个人发出通知。服务网服务条款一旦发生修改或其它变动，将可以或可能在条款相关的某些页面上提示。如果作为已经注册过或已经同意过的供应商不同意所改动的内容，供应商可以主动取消其所获得的服务网提供的各项服务。若供应商在服务网服务条款发生变更15日后，继续享用服务网提供的任何服务，则视为供应商已经完全接受了变更。</p>
<h4>4．服务修改、中断和终止</h4>
<p>　　总公司保留随时修改、中断和终止任何服务而不需通知供应商的权利。对于总公司行使上述权利而造成的任何损失，总公司不对供应商或任何第三方承担任何责任。</p>
<h4>5．供应商隐私制度</h4>
<p>　　尊重供应商隐私是服务网的一项基本政策。服务网承诺不会公开、转让或透露其供应商的不可公开的注册资料及供应商在服务网中保存的非公开内容，除非：</p>
<p>    (1) 遵守有关法律、法规、规章的强制性规定；</p>
<p>    (2) 保持或维护服务网的合法权益；</p>
<p>    (3) 在紧急情况下竭力维护社会大众的利益；</p>
<p>    (4) 事先获得供应商的明确授权。</p>
<h4>6．供应商的帐号、口令和安全性</h4>
<p>　　供应商一旦在本网注册成功，将得到一个口令和帐号。该口令和帐号由供应商负责保管。另外，每个供应商都要对其帐户中的所有活动和事件负全部责任。供应商可随时根据操作指示改变其口令，也可以结束旧的帐户而重开一个新帐户。供应商同意若发现任何非法使用供应商帐号或安全漏洞的情况，应立即通告服务网。对于在通常情况下需要凭帐号或者密码实施的行为，例如登录进入某一界面，一旦该行为或类似行为、替代行为被实施，则该等行为及其后相关的行为均应当被视为或被等同于供应商的行为并由供应商自行承担全部相关后果或责任。</p>
<h4>7．免责条款</h4>
<p>　　供应商明确同意其使用服务网所存在的所有风险均由供应商个人完全承担。总公司在此声明：不提供任何类型的担保，不论是明示的或默示的；不担保其提供的服务一定能满足供应商的要求，也不担保服务不会中断，对服务的及时性、安全性和准确性等也均不作担保；绝提供任何担保，包括信息能否完全准确、及时、顺利的传送以及是否能修改相关软件中的漏洞；供应商理解、判断、或决定是否接受任何通过服务网服务或所取得信息资料的可靠性，完全取决于供应商自己承担相关的风险，并包括系统受损或资料丢失的所有风险；对在网上的任何交易或交易进程，都不作担保。</p>
<h4>8．有限责任</h4>
<p>　　总公司对任何直接、间接、偶然和特殊的损害均不负责任。这些损害来自：包括但不限于不正当或非法利用服务网，供应商提供不正确、不明确的信息或未及时更新信息等等。这些行为都有可能导致总公司形象受损，所以总公司事先提出这种损害的可能性。供应商同意如其违反有关法律、法规或本协议项下的任何条款而给总公司或其他任何第三人造成的损失，该供应商应承担由此造成的所有损害赔偿责任。</p>
<h4>9．信息的储存及限制</h4>
<p>　　服务网不对供应商所发布信息的删除或储存失败负责。服务网即使没有做出对信息的传输量规定上限，但是它有判定供应商的行为是否符合服务网服务条款的要求和精神的保留权利，如果供应商违背了服务条款的规定，或其在网站的相关行为有理由被判断为不利于网站，则随时有权中断对其服务，包括帐号。</p>
<h4>10．供应商管理</h4>
<p>    （1）供应商单独承担其所传输内容的所有责任。供应商对服务网的使用应依据所有适用于服务网的全国性法律、法规、规章和地方法规。供应商必须遵循以下原则：从中国境内向外传输技术性资料时必须符合中国有关法律法规；使用信息服务不作非法用途；不干扰或混乱网络服务；遵守所有使用服务的网络协议、规定、程序和惯例。</p>
<p>    （2）供应商的行为准则是以因特网法规，政策、程序和惯例为根据的。供应商须承诺不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的和淫秽的信息资料。另外，供应商也不能传输任何教唆他人构成犯罪行为的资料；不能传输助长国内不利条件和涉及国家安全的资料；不能传输任何不符合当地法规、国家法律和国际法律的资料。未经许可而非法进入其它电脑系统是禁止的。若供应商的行为不符合以上提到的服务条款，服务网一经发现将做出独立判断并取消供应商服务帐号。供应商若在服务网上散布和传播反动、色情或其他违反国家法律的信息，网站的系统记录有可能作为供应商违反法律的证据。</p>
<p>    （3）“服务网”对注册供应商实行会员制管理。供应商会员分为普通供应商会员和入围供应商会员。</p>
<p>    普通供应商会员：“服务网”提供免费注册，免收供应商会员费，不享有添加产品、添加代理商的服务功能；享有本注册名下的销售统计和查询服务功能。可以参与“服务网”发起的竞价采购项目，但竞价项目停止后，按照供应商报价有低到高排列，原则上以最低报价中标。</p>
<p>    入围供应商会员：凡通过总公司组织的对协议采购的物资进行的公开招标采购、邀标采购、竞争性谈判采购以及专家评定确定的入围供应商，均可成为“服务网”入围供应商会员。入围供应商会员分为生产厂商会员和代理商会员。若生产厂商被 “服务网”确定为入围供应商后，即便其所属代理商没有参与投标，但经入围生产厂商同意，所属代理商也可成为入围供应商。入围供应商会员享有按中标价添加产品的服务功能（仅限生产厂商），享有添加代理商和管理代理商的服务功能（仅限生产厂商）；享有本注册名下的销售统计和查询服务功能。入围供应商会员可以按照不高于中标价的价格通过议价服务功能直接向采购人供货；可以参与“服务网”发起的竞价采购项目，但竞价项目停止后，按照供应商报价有低到高排列，原则上以最低报价中标。</p>
<h4>11．保障</h4>
<p>　　供应商同意保障和维护服务网及其他供应商的利益，负责支付由供应商使用超出服务范围引起的律师费用，违反服务条款的损害补偿费用，由其它使用供应商的帐号和口令的人造成的损害赔偿费用和其它侵犯知识产权而产生的追索费。</p>
<h4>12．关于供应商主动停用或要求结束服务</h4>
<p>　　供应商或服务网可随时根据实际情况中断一项或多项服务。服务网可以随时中断服务而不需对供应商或任何第三方负责。</p>
<p>　　供应商若反对任何服务条款的规定或对修改后的条款有异议，或对服务网服务不满，供应商可以行使如下权利：</p>
<p>    (1) 供应商主动停用，不再使用服务网及其信息服务。定点或协议供货商会员停用须提前15日向总公司提出申请，总公司同意后15日内无息返还供应商原缴纳的保证金。</p>
<p>    (2) 通知服务网，要求停止对该供应商的服务，但该项停止的有效性、及实际停止的时间等取决于具体情况下的客观因素，由于该项工作需要一定的时间因此可能会在供应商通知后等上一段时间才可以被实际停止。一旦供应商主动停用或供应商提出结束服务的要求，以及由于其它原因供应商服务被终止后，供应商使用服务网服务的权利立即终止。从那时起，供应商没有权利，服务网及其管理单位也没有义务传送任何未处理的信息或未完成的服务给供应商或第三方。对于此种终止，也无需对供应商或任何第三方承担任何责任。</p>
<h4>13．通告</h4>
<p>　　所有发给供应商的通告都可通过相关页面的公告或电子邮件或常规的信件传送。</p>
<h4>14．有关商业宣传</h4>
<p>　　如果供应商在他们发表的信息中加入宣传资料或参与广告策划，在服务网的服务上展示他们的产品，任何这类促销方法，包括运输货物、付款、服务、商业条件、担保及与广告有关的行为或描述都只是供应商和（或）这类商业宣传发布者应当独立负责的。服务网对此类商业宣传不承担任何责任，也没有义务为此类商业宣传承担任何担保责任。</p>
<h4>15．条款的法律解释</h4>
<p>　　以上条款解释权归服务网。供应商和服务网一致同意服从有关法院的所有管辖。如发生服务网服务条款或所发布的其它条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款则依旧保持对供应商的约束力。特别声明，任何情形下，对于任何相关的争议，均只适用中华人民共和国法律，并只接受中华人民共和国的各级人民法院的司法管辖。 </p>