<div class="cube-portfolio container mt-40 mb-40">
  <div id="grid-container" class="cbp-l-grid-agency">

    <% rs.each do |product| %>
      <% cache product do %>
      <%= show_product(product) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate rs, :theme => 'channel' %>
