<%= render partial: "header", locals: { breadcrumbs_left: "众语评谈", breadcrumbs_right: breadcrumbs_li("返回首页" => root_path) } %>


    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <h2>寄语子建</h2>
                    <ul class="list-inline posted-info">
                        <li>文：刘大为</li>
                        <li>中国美术家协会主席</li>
                    </ul>
                    <p>“大美为真”，是根据《庄子》的“天地有大美而不言”和《说文解字》“羊大为美”，以概而出的。“大”是中国的天人合一之观点，是和谐之观点。大美不是小美，大美通天地、通大道、继古今。“大美”是事物的最高境界和最终要求。“真”不是表面的真实，而是“本真”和返璞归真，符合“道”之事物为之“真”。实践证明，艺术创作离不开生活。惟其如此，艺术才能成为人的艺术，艺术的生命才能常青。</p>
                    <p>我在创作中始终坚持这样的艺术观点，在教学中也始终坚持这样的教学观点。小小的展览是张建华近期作业对大家的小汇报，也是新历程的开端。我对此寄予厚望。</p>   
                    <div class="text-center">
                        <img class="img-responsive full-width" src="/plugins/images/hesay/img2.jpg" height="400px">
                    </div>                 
                </div>
            </div>                        
            <!-- End News v3 -->

            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <h2>纷披清气 深味子建</h2>
                    <ul class="list-inline posted-info">
                        <li>文：张晓凌</li>
                        <li>中国国家画院副院长</li>
                        <li>著名艺术评论家</li>
                    </ul>
                    <p>中国的传统绘画，与传统的诗词歌赋一样，是画家以感性直觉的方式把握自然社会的载体。青年画家张子建的画，古意盎然，展卷即有高古气息扑面而来，是中国特有的玄学精神的意象显现。在学习绘画的道路上，他一路艰辛，从一名普通的战士到师从名门刘大为、范曾先生的博士。从他的作品中，我们不难看到自然和人文文化的融合。在他的笔墨和谐画面中，具有了中国古典诗词北调多促、南调多韵般的音乐之美。</p> 
                    <p>我相信，凡是接触过子建画作的人，瞬间就能够感受到绝无尘埃的“清凉世界”，这也是中国古典美学境界中的逸品风格。从他的作品中，我们会更多领悟到的是清性灵说的儒、道、佛，释合一的纯美境界。  这就是张子建先生的画作，值得我们珍视。</p> 
                    <div class="text-center">
                        <img class="img-responsive full-width" src="/plugins/images/hesay/img1.jpg" height="400px">
                    </div>                 
                </div>
            </div>                        
            <!-- End News v3 -->

            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <h2>张建华印象</h2>
                    <ul class="list-inline posted-info">
                        <li>文：程秉洲</li>
                        <li>半水书屋主人</li>
                    </ul>
                    <p>张建华，字子建，我的好朋友，亦师亦友。他先后师从刘大为、范曾等先生。也算是名门之后，后起之秀吧！却很没有“范”。没有太多的头衔，几乎没有什么自己的画册，网络上也鲜有报道和资料。他长得很平常，甚至可以说其貌不扬。既不留大胡子，也不扎小辫子，年纪又轻，不容易被人追捧。初次相识是在一次笔会上，他只顾着端茶、倒水、铺纸、蘸墨，忙得不亦乐乎。朋友介绍他是书画家，他哈哈大笑，我哪敢写。从此我们就成为朋友了。此后我三天两头跑到他的工作室去熏染，可他每天坚持送我到门口并目送一程，真是多此一举，害得我还要回头还礼，偶尔故意倒着走几步，以示敬意。</p> 
                    <p>他这个人很“没趣”。不唱歌、不跳舞、不喝酒、不打牌，应酬能推就推。问其故，答曰：不想浪费时间。他的工作室满屋子都是书籍。读书、写字、画画就是他的生活方式。古人有“三日不读书，便觉言语无味，面目可憎”，他则是一日也不愿离开自己的书屋。</p> 
                    <p>他很可爱，笑点很低。一点小趣味的事，他都能捧腹大笑，像个大孩子，率真率性。相处长了，觉得他很有趣，特别是他的冷幽默。我曾问他什么时候开始写字的。他说，小时候撒尿和泥时用树枝写字、画画开始的。他很静。一到画案上，就凝神静气，那个专注的劲，就像一个大呆子。我们都有体会，一天接不到一个电话，正忙的时候电话不断。他常常在构思作画时，女儿要跟他视频，他便慌不择路地跑到里屋和孩子慢声细语地话家常，不时呵呵地笑。朋友多的时候，大家一起起哄：和孩子通话是假，想老婆是真。他便反唇相讥，想老婆是美德，你们是饱汉不知饿汉饥呀！一边嘿嘿笑，一边走到画案，又心静如水了。</p> 
                    <p>书画同源，画好字也要好，红花配绿叶嘛。但确实有很多画家是画字而不是写字。子建写字轻松、飘逸、洒脱。形美、意美、力美，自然生动，有韵味美。他的人物画很见功力，山水、花鸟也颇有独到之处。</p> 
                    <p>我在他的画里看到了四季。细雨如织，古巷中撑一把油伞的春姑娘，是捧一片新绿，还是细数当初的回忆；通幽小径，带着纷杂的记忆，蜿蜒到池边，红白莲花开共塘，是谁扔下一块石子，激起阵阵涟漪？在黄叶的笔记里，苇塘一片金黄，一叶小舟，带着陈年的记忆，静静地相守；窗前的冰凌，忘记曾经的约定，一起赏雪，珍藏起白色的花朵，当作新年的礼物。我在他的画里看到了沧桑。对酒当歌，举杯邀月；侠肝义胆，壮志凌云；野渡无人，寒江独钓；凌空御风，出世空灵；隐士雅士，琴棋书画；高僧大德，普渡芸生……一切尽囊入画中。</p>                
                </div>
            </div>                        
            <!-- End News v3 -->


            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>自在与不自在</h2>
                            <ul class="list-inline posted-info">
                                <li>文：单许昌</li>
                                <li>清华大学</li>
                                <li>博士后</li>
                            </ul>
                            <p>张建华，字子建，是一位青年画家，也是我的老乡。在我的印象里，子建兄永远像水墨画一样，周身透出自在与不自在的气息。</p> 
                            <p>子建先生是一个自在的散人。他早年种过地，放过牛，及至参军，扛过枪，守过岛，如今留京华，定居在五路居旁边的一两书屋。在我的印象里，一两书屋是名副其实的书茶之屋。子建的导师之一刘大为先生，给他写了一副“直面生活”的四个字，我想是希望他在追梦的过程中不断改进技艺，增加境界。在众多的墨宝中，莫言先生的“班门弄斧”最为醒目，莫言先生是文学巨匠，当然是谦虚的话，语言中透着机智的幽默。</p> 
                            <p>一两书屋里面的屋子，装满了书，堪比图书馆。从哲学、宗教到文学、艺术，应有尽有，当然少不了诸如齐白石、黄宾虹等大家的画集以及各种书法碑帖了。最引我注意的是茶间与书房内的两个大石缸，清水里一抹红色，是一种红色的小鱼，自由自在的游来游去。外面那个大缸里的鱼只有一只，它很孤单，子建笑曰：您给它找个伴吧，说不定过不几天，有一大群红鱼游来游去。</p> 
                            <p>子建对于中国画以及书法的看法很别致，一个简单的字：养。所谓养，是需要时间累计的，而且还要保持一种适度的耐心。他不爱抽烟，但有时候为了配合客人，还是跟着“吹”，人家的烟从鼻出，他的烟只过嘴瘾，是名副其实的“过滤嘴”。他抽烟的时候，其实是在沉思，有时候突然站起来，走到书桌，奋笔疾书，未几，一幅小画跃然纸上，或是清新俊秀的墨宝出炉。</p> 
                            <p>下午三点之后，宾客纷纷敲门拜访。有白发苍苍的老画家，也有属嗅未干的后生；来宾不仅仅是同门画友，有白面书生，也有各界名流，于是整个书屋热闹起来，这边写字绘画，那边煮茶品茗，偶尔也会传来酒令声，人人各得其乐，各得其所。子建兄则忙碌起来，时而坐下煮茶，频频劝茶让烟，时而为客人铺纸盖章，时而与人窃窃私语，不时传出轰然大笑的声音。子夜时分，客人纷纷离去，这才是子建兄自由创作的时间。</p> 
                            <p>子建先生四十岁得女，宠爱有加。但小姑娘近期在秦皇岛，每天视频聊天，这个时候，如果你观察的够仔细，就会发现这个四十多岁饱经风霜的大男人，立即变成孩童。</p> 
                            <p>子建也有不自在的时候。他喜欢跟自己较劲，例如，大家觉得都很不错了，他却当面撕掉，重新又写。子建兄不喝酒，他的理由是喝一点脸红如猴屁股，越是如此，大家就越是喜欢起哄，勉强喝了一小杯，果然两颊生色，大家都乐起来了。尽管如此，他劝酒的功底很深，很多客人在不自不觉就醉意朦胧。书画养性，然子建兄也有急脾气的时候，做到大自在是非常不容易的，庄子所言的不为物役，只是存在于理想和神话中，人生在世，为了活下去，各有难言之隐，各有各的难处。</p> 
                            <p>我最近沉迷于画，画好之后就让他指点，他永远是点赞。问及需要改进的地方，答曰：不要心有挂碍，有了分别就难以传情达性了。确实，心若有挂碍，就会生出烦躁之意，未几就会泄气，更不用提自在自为的精神了。</p> 
                            <p>日久之后，我给他作了一首小诗，他挺喜欢的。题目是《拾墨人生》，全文是：一两书屋养心性，三四好友论丹青。五方来宾六味茶，七八过客到九成。养心作画，谈论丹青，煮茶对饮，酒酣划拳，小小书屋活起来了。子建兄就是在自在与不自在之间，体味墨宝带来的雅与俗的味道，在追梦的路上不断精进、提升。</p> 
                        </div> 
                        <div class="col-md-3">
                            <img class="img-responsive full-width" src="/plugins/images/hesay/img3.jpg" height="400px">
                        </div> 
                    </div>
                </div>
            </div>                        
            <!-- End News v3 -->

            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <h2>张子建素描</h2>
                    <ul class="list-inline posted-info">
                        <li>文：徐恩存</li>
                        <li>著名美术评论家</li>
                    </ul>
                    <p>建华是位勤奋的青年书画家，书法绘画兼功，以中入画，以画补书，是他作品的特点。多年来建华以艺术为人生理想，问学于多位名师与院校，吸百家之长，铸于一炉，使自己艺术获得提升和转换。当建华考上了一代名家范曾先生博士研究生后，在名师点拨下，他的技艺如日中天，日趋纯正完美。
                    <p>建华作品以线为主，辅以色墨，且以意象写意为要，专注于形神兼备、表里浑然的神韵表达。以书入画是他始终的特点，线条在柔韧中一波三折，转折顿挫，而含水的浓淡干湿，石笔的腾挪中尽显了笔法的丰富变化和笔致的微妙隽永。点线的有法无法与即兴发挥，带来了作品内在结构的鲜活与激情，使作品在整体上显示出郁勃生机。</p>  
                    <p>建华为人谦和，虚心好学，且遵师爱友，坦诚磊落，他的人品直入笔墨与画面，在不骄不躁中体现出特有的中和之美。众所周之，中和之美的优雅简净来自于文化底蕴的深厚和修养素质的历炼，这即是一种艺术难度，也是一种境界高度。建华以此为终生追求，实令人高兴，足见出一位有志者的追求和求索者的志向和努力！</p>  
                    <p>他的画册问世，值得祝贺！希望建华再接再历，更上一层楼！我们对此充满厚望！</p>                
                </div>
            </div>                        
            <!-- End News v3 -->

        </div><!--/end container-->
    </div>


