<%= render partial: "header", locals: { breadcrumbs_left: "套件", breadcrumbs_right: breadcrumbs_li("返回首页" => root_path) } %>

<div class="container">
	<div class="row content-boxes-v1 content-sm mb-40">
	    <div class="col-md-2 md-margin-bottom-30">                
	        <div class="heading-md">
	            <div><img src="/plugins/icons/files/pdf.png"></div>
	            <span>佛福寿</span>
	        </div>
	        <p><a href="/downloads/佛福寿.pdf" target="_blank">[点击下载]</a></p>
	    </div>
	    <div class="col-md-2 md-margin-bottom-30">
	        <div class="heading-md">
	            <div><img src="/plugins/icons/files/pdf.png"></div>
	            <span>福字-红</span>
	        </div>
	        <p><a href="/downloads/福字-红.pdf" target="_blank">[点击下载]</a></p>
	    </div>
	    <div class="col-md-2">
	        <div class="heading-md">
	            <div><img src="/plugins/icons/files/pdf.png"></div>
	            <span>福字-黄</span>
	        </div>
	        <p><a href="/downloads/福字-黄.pdf" target="_blank">[点击下载]</a></p>
	    </div>
	</div>
</div>
