<div class="footer-v1">
  <div style="background-color: #EEEEEE;text-align:center;color:#000000;padding:40px;" class="footer">
    <div class="text-center">
    <img style="width:100px;" src="<%= asset_path("logo3.png") %>">
    </div>
    <div class="m-20">
      <%= "#{Dictionary.web_site_founded_year} &copy; All Rights Reserved. #{Dictionary.company_name} 版权所有".html_safe %>
    </div>
  </div><!--/footer-->
</div>
