<%= form_tag(update_reset_password_kobe_user_path(@user), method: "post", class: 'sky-form', id: "reset_password_form") do %>
<fieldset>
  <section>
    <label class="label">
      <span style="padding-right: 10px;">用户名</span>
      <span class="color-red"><%= @user.login %></span>
    </label>
  </section>

  <section>
    <label class="label">
      <span style="padding-right: 10px;">姓名</span>
      <span class="color-red"><%= @user.name %></span>
    </label>
  </section>

  <section>
    <label class="label">密码 <span class="color-red">*</span></label>
    <label class="input">
      <i class="icon-append fa fa-lock"></i>
      <input type="password" name="user[password]" id="user_password" placeholder="密码" />
      <b class="tooltip tooltip-bottom-right">长度为6-20个字符</b>
    </label>
  </section>

  <section>
    <label class="label">确认密码 <span class="color-red">*</span></label>
    <label class="input">
      <i class="icon-append fa fa-lock"></i>
      <input type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="确认密码" />
    </label>
  </section>
</fieldset>
<footer>
  <button class="btn-u" type="submit"><i class="fa fa-floppy-o"></i> 保 存 </button>
  <button class="btn-u btn-u-default" type="reset"><i class="fa fa-repeat"></i> 重 置 </button>
</footer>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var reset_password_rules = {
      "user[password]": { required: true, maxlength: 20, minlength: 6 },
      "user[password_confirmation]": { required: true, equalTo: '#reset_password_form #user_password' },
    };
    validate_form_rules("#reset_password_form", reset_password_rules);
  });
</script>
