<br/>
<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>银行编号</td>
			<td><%= @dep.bank_code %></td>
		</tr>
		<tr>
			<td>开户银行名称</td>
			<td><%= @dep.bank %></td>
		</tr>
		<tr>
			<td>开户银行账号</td>
			<td><%= @dep.bank_account %></td>
		</tr>
	</tbody>
</table>