/*
 *
 *= require plugins/bootstrap.min
 *= require blocks
 *= require plugins
 *= require app
 *= require plugins/style-switcher
 *= require style
 *= require headers/header-default
 *= require footers/footer-v1
 *= require plugins/animate
 *= require plugins/line-icons
 *= require plugins/font-awesome/font-awesome.min
 *= require pages/page_404_error
 *
 *= require default
 *= require custom
 *
 *
 *= require_self
 *
 */

.channel p{padding-top:10px;margin-bottom:0;}
.channel img{display:block; margin:auto;cursor:pointer;}
.full-width{width: :100%;}