 /*字体*/
.title{ font-size: 26px; }
.content{ font-size: 16px; padding: 10px 0px; }
.tips{ font-size: 14px; }
.red{color:red;}
.b{font-weight:bold;}
#container{margin: 36px;}
.no{ font-size: 18px; margin: 10px 0px;}
