<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style type="text/css">
  body{
        margin: 2em;
        padding: 0;
        border: 0;
        color: black;
        background: white;
        font: normal 12px "Bakersville Old Face", "Times New Roman", Times, serif, "宋体";
        text-align: left;
        table-layout :fixed;
        table-layout :auto;background: url("/plugins/images/print_bg.gif");
    }
    .btn-u {
   border: 0;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   font-weight: 400;
   padding: 6px 13px;
   position: relative;
   background: #018b3e;
   white-space: nowrap;
   display: inline-block;
   text-decoration: none;
}
    .underline{text-decoration:underline;}
    table{border-collapse:collapse;margin:14px 0 0 0;padding:0;text-align:left;width:100%;}
    td,th{border:solid #000 1px;padding:4px; }
    th{text-align:center;}
    .center{text-align:center;}
    .title_tb td{font-weight:bold;font-size:36px;}
     .no_border{border:none;}
    .no_border td{border:none;}
    .big_font{font-size:14px}
    .no_wrap{white-space:nowrap;}
     .buy_count,.buy_money{text-align:right;}
      #product_table .product_tr:hover{background-color:#F5FB93;}
      #product_table .product_tr{cursor:pointer;width:100%;}
      .money:hover{background-color:#F5FB93;}
     .money{text-align:right;cursor:pointer;}
    .h1{text-align:center;font: normal 28px "黑体", "Times New Roman", Times, serif, "宋体";margin:8px;color:#ff0000;}
    .h2{text-align:center;font: normal 20px "黑体", "Times New Roman", Times, serif, "宋体";margin:4px 0 38px 0;}
    .h3{text-align:left;font: normal 16px "黑体", "Times New Roman", Times, serif, "宋体";}
    .h_content{text-align:left;font: normal 14px "宋体", "Times New Roman", Times, serif, "黑体";margin:4px;}
    .float_left{float:left;width:48%;text-align:left;}
    .float_right{float:left;width:48%;text-align:right;}
    .nextpage{page-break-after:always;}
    .fl_2em{text-indent: 2em;}
     /* 二维码 */
    .erweima{float: right;margin-right: 10px;}
    .erweima table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
    }

    .erweima td {
      border-left: solid 1px #000;
      padding: 0;
      margin: 0;
      width: 1px;
      height: 1px;
    }
    .erweima td.black { border-color: #000; }
    .erweima td.white { border-color: #fff; }

    /*
    .erweima .qrcode {
    width:90px;
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    }
    .qrcode td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    }
    .qrcode td{width:2px;height:2px;}
    .qrcode td.black { background-color: #000;}
    .qrcode td.white { background-color: #fff;}
    */
@media print{
    .noprint{display:none;}
    div.certificate{width:720px;}

}
</style>
</head>
<body>
    <%= yield %>
<div style="clear:both"></div>
<div class="noprint center" style="margin-top:36px;">
  <button  onclick="window.print();" class="btn-u" > 打 印 </button>
  <button  onclick="window.close();" class="btn-u" > 关 闭 </button>
  <div style="color:red;margin-top:20px;">提示：您可以先在浏览器“页面设置”中设置“横向/纵向、页边距、页眉/页脚”等信息再进行打印。</div>
</div>
<div style="display: none;"><script src="http://s20.cnzz.com/stat.php?id=4699316&web_id=4699316&show=pic1" language="JavaScript"></script></div>
</body>
</html>
